<article id="introduction" class="articles is-simple">
  <header class="articles__header">
    <h2 class="articles__headline">{{introduction.header}}</h2>
  </header>
  <div class="articles__container">
    {{#each introduction.text}}
    <p class="articles__text">{{{this}}}</p>
    {{/each}}
  </div>
  {{#if introduction.itinerary}}
  <div class="articles__itinerary-container">
    <h3 class="articles__subheadline">{{{introduction.itinerary.header}}}</h3>
    {{#each introduction.itinerary.schedule}}
    <h4 class="articles__date">{{{this.header}}}</h4>
    <ol class="articles__olist">
      {{#each this.text}}
      <li class="articles__item"><strong>{{{this.time}}}</strong> &mdash; {{{this.activity}}}</li>
      {{/each}}
    </ol>
    {{/each}}
  </div>
  {{/if}}
</article>
