<article id="#{{this.id}}" class="articles">
  <header class="articles__header">
    <h2 class="articles__headline">{{this.header}}</h2>
  </header>
  <div class="articles__container">
    <figure class="articles__figure">
      <img src="{{this.image.src}}" alt="{{this.image.alt}}" width="{{this.image.width}}" height="{{this.image.height}}" loading="lazy" />
    </figure>
    {{#each this.text}}
    <p class="articles__text">{{{this}}}</p>
    {{/each}}
  </div>
</article>
