{{#each weeklyWinners}}
<article class="fpi-weekly-winners">
  <h3 class="fpi-weekly-winners__hed">{{{this.header}}}</h3>
  <div class="fpi-weekly-winners__container">
    <table class="fpi-weekly-winners__table">
      <tbody>
        {{#each this.table}}
        <tr>
          <td>{{#if isTie}}{{{this.winner}}}{{else}}<strong>{{{this.winner}}}</strong>{{/if}} <span>{{this.location}}</span> {{{this.loser}}}</td>
          <td>{{{this.score}}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <p class="fpi-weekly-winners__text">{{{this.text}}}</p>
  </div>
</article>
{{/each}}
