<article class="fpi-performers">
  {{#each performers}}
  {{#compare 'subhead' '===' this.type}}
  <h3 class="fpi-performers__hed">{{{this.text}}}</h3>
  {{/compare}}
  {{/each}}
  <div class="fpi-performers__container">
    {{#each performers}}
    {{#compare 'performer' '===' this.type}}
    <figure class="fpi-performers__profile">
      <img class="fpi-performers__profile-image is-lazy" src="{{this.placeholder}}" data-src="{{this.image}}" />
      <figcaption class="fpi-performers__caption">
        <p class="fpi-performers__caption-text">{{{this.firstName}}} <span class="is-last-name">{{{this.lastName}}}, {{{this.team}}}</span> <span class="fpi-performers__big-number">{{{this.number}}}</span> <span class="fpi-performers__description">{{{this.description}}}</span></p>
      </figcaption>
    </figure>
    {{/compare}}
    {{/each}}
  </div>
</article>