<article class="fpi-tables">
  {{#each tables}}
  {{#if this.text}}
  <h3 class="fpi-tables__hed">{{{this.text}}}</h3>
  {{/if}}
  {{#if this.table}}
  <div class="fpi-table__container">
    {{#each this.table}}
    <table class="fpi-table">
      {{#if this.thead}}
      <thead class="fpi-table__thead">
        <tr>
          {{#each this.thead}}
          <td>{{{this}}}</td>
          {{/each}}
        </tr>
      </thead>
      {{/if}}
      {{#if this.tbody}}
      <tbody class="fpi-table__tbody">
        {{#each this.tbody}}
        <tr>
          <td class="{{#if this.isProjectedPlayoff}}is-projected-playoff{{/if}} {{#if isDraftPick}}is-draft-pick{{/if}}">{{{this.name}}}</td>
          <td>{{this.win}}</td>
          <td>{{this.loss}}</td>
          <td>{{this.tie}}</td>
        </tr>
        {{/each}}
      </tbody>
      {{/if}}
    </table>
    {{/each}}
    {{/if}}
    <dl class="fpi-table__key">
      <dt class="fpi-table__term is-projected-playoff">Blue Circle</dt>
      <dd class="fpi-table__definition">Projected playoff spot</dd>
      {{#compare 0 '===' @index}}
      <dt class="fpi-table__term is-draft-pick">Black Square</dt>
      <dd class="fpi-table__definition">No. 1 draft pick</dd>
      {{/compare}}
    </dl>
  </div>
  {{/each}}
</article>