<figure class="polaroids{{#if this.classes}} {{this.classes}}{{/if}}" data-offset="{{this.offset}}">
  <img class="polaroids__image" src="{{this.src}}" alt="{{this.alt}}" loading="lazy" />
  <figcaption class="polaroids__figcaption">
    <p class="polaroids__caption">{{{this.caption}}}</p>
  </figcaption>
</figure>
