<article id="#{{accomodations.id}}" class="articles">
  <header class="articles__header">
    <h2 class="articles__headline">{{accomodations.header}}</h2>
  </header>
  <div class="articles__container">
    <figure class="articles__figure">
      <img src="{{accomodations.image.src}}" alt="{{accomodations.image.alt}}" loading="lazy" />
    </figure>
    {{#each accomodations.text}}
    <p class="articles__text">{{{this}}}</p>
    {{/each}}
  </div>
</article>
