<header class="fpi-opener">
  <figure class="fpi-opener__figure">
    <img class="fpi-opener__background-image" src="{{opener.background}}" />
    {{#each opener.images}}
    <img class="fpi-opener__image is-{{@index}}" src="{{this.src}}" data-x-offset="{{this.xOffset}}" />
    {{/each}}
  </figure>
  <h1 class="fpi-opener__hed headline">{{{opener.hed}}}</h1>
  <p class="fpi-opener__dek deck"><span class="fpi-opener__byline byline">By {{{opener.byline}}}</span><button class="fpi-opener__button" type="button" title="Jump to main content"><svg height="16" viewBox="0 0 14 16" width="14" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd" stroke="#06c" stroke-width="2" transform="translate(-9 -8)"><path d="m10 16 6 6 6-6"/><path d="m9 15h14" transform="matrix(0 -1 1 0 1 31)"/><circle cx="16" cy="16" r="15"/></g></svg></button></p>
</header>